doctype
html
    head
        title The Pond
        link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            img.pull-left(src='/images/pulse.png' alt='app icon')
            a(href='/')
                h1 The Pond
        .container
            .main-content
                block content
        footer
            p <b>The Pond</b> - A digital platform to allow all comunity members
                | to exchange ideas, connect and share experience and skills