doctype
html
    head
        title Peckham Check em
        link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            img.pull-left(src='/images/pulse.png' alt='app icon')
            a(href='/')
                h1 Peckham Check em
        .container
            .main-content
                block content
        footer
            p <b>Peckham Check Em</b> - An interactive tool for viewing overall
              | sentiment and feelings in the Peckham area